body {
  color: #444;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url(img/bg3.png);
  background-attachment: fixed;
}

.main {
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 20px;
  background-color: #ededed;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
/*****************************
lécek
******************************/
.lec1 {
  height: 40px;
  background: #43A6FF;
  margin-left: 50px;
  margin-right: 0;
  padding: 0px 2px 0px 5px;
  box-shadow: 0px 6px 20px -3px rgba(0,0,0,0.48);
}
.lec2 {
  height: 40px;
  margin-right: 100px;
  width: 30px;
  background: red;
  margin-top: -40px;
  box-shadow: 0px 6px 20px -3px rgba(0,0,0,0.48);
}

.lec3 {
  height: 40px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 30px;
  background: #43A6FF;
}
/*****************************
sections
******************************/
section ul {
  border-left: 1px solid black;
  margin-left: -15px;
  padding-left: 3px;
}

section ul li {
  margin-left: 10px;
  padding-left: 0px;
  margin-top: 5px;
  list-style-image: url('img/potty.png');
}

.name {
  /*border-bottom: 2px solid #cf8a05;*/
  margin-left: 50px;
}

.sections {
  margin-right: 30px;
  margin-left: 30px;
}

section {
  border-bottom: 2px solid black; /* section border*/
  margin-right: 40px;
}

#maindetails {
  margin-right: 40px;
  margin-left: 40px;
}

/*****************************
list style plusz
******************************/
#plusz {
  list-style-image: url('img/plusz.png');
}

/*****************************
felxbox1
******************************/
# {
  display: flex;
  flex-flow: row;
  /* or inline-flex */
}

.flex-item1 {
  order: 1;
  flex: 50%;
  background-color: #77fce1;
  max-height
}

.flex-item2 {
  order: 2;
  flex: 50%;
  background-color: #c2c3c3;
}

/*****************************
felxbox2
******************************/
#tab {
  display: flex;
  flex-flow: row;
  /* or inline-flex */
}

.flex-item1 {
  order: 1;
  flex: 50%;
  background-color: #77fce1;
  max-height
}

.flex-item2 {
  order: 2;
  flex: 50%;
  background-color: #c2c3c3;
}
