body {
margin:0;
font-family: arial;
/**/
}
img {
  width: 100%;
  height: auto;
 /*height: auto;
 border: 3px solid #73AD21;
 display: inline-block;*/
}

article{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  }

h1{
  font-weight: 900;
  font-size: 36px;
  /*font-family: Lato;*/
  color: #444;
}

h2{
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 0;
  margin-bottom: 40px;
  color: #999;
}

h1, h2{
  text-align: center;
  font-family: arial;
  /*font-family: Lato;*/
}

p {
  font-style: italic;
  /*font-family: Merriweather;*/
  clor:#444;
  line-hight:1.5;
}

a {
  color: #444;  
}
a:hover {
  color: #444;
}
