@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?q0u4op');
    src:    url('fonts/icomoon.eot?q0u4op#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?q0u4op') format('truetype'),
        url('fonts/icomoon.woff?q0u4op') format('woff'),
        url('fonts/icomoon.svg?q0u4op#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e900";
}
.icon-spinner:before {
    content: "\e901";
}
.icon-spinner3:before {
    content: "\e902";
}
.icon-lock:before {
    content: "\e903";
}
.icon-unlocked:before {
    content: "\e904";
}
.icon-plus:before {
    content: "\e905";
}
.icon-cross:before {
    content: "\e906";
}
.icon-checkmark:before {
    content: "\e907";
}

